@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  margin: 1rem;
  border-radius: 50px;
  flex: 0.5;
  position: relative;
  transition: flex 0.5 ease-in;
  cursor: pointer;
}

.panel h3 {
  font-size: 1.8rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
}
